<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/bluesky-profile-feed-embed@^1.0.0/+esm"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bluesky-profile-feed-embed@^1.0.0/dist/core.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <section class="hero">
        <div class="social">
            {%- for social in social -%}
            <a rel="me" href="{{ social.url }}" aria-label="{{ social.slug }}">
                <img alt="{{ social.slug }}" height="28" width="28"
                    src="https://cdn.simpleicons.org/{{ social.slug }}/white">
            </a>
            {%- endfor -%}
        </div>
        <div class="info">
            <h1>{{ title }}</h1>
            <div class="description">{{ description }}</div>
        </div>
    </section>
    <main>
        <section id="projects" class="grid all-s12 all-m6">
            <div class="details">
                <h2>
                    <a href="#projects" aria-label="projects">Projects</a>
                </h2>
                <p>Some my newest projects that i like to maintain.</p>
            </div>
            <div class="scroll lists">
                {%- for project in projects -%}
                <a href="{{ project.url }}" class="list" aria-label="{{ project.title }}">
                    <div class="name">{{ project.title }}</div>
                    <div class="description">{{ project.description }}</div>
                </a>
                {%- endfor -%}
            </div>
        </section>
        <section id="docsify" class="grid all-s12 all-m6">
            <div class="details">
                <img height="32" width="32" src="https://cdn.simpleicons.org/docsify/white" alt="docsify">
                <h2>
                    <a href="#docsify" aria-label="docsify">Docsify plugins</a>
                </h2>
                <p>Some plugins and themes that i used to build when i use Docsify.</p>
            </div>
            <div class="scroll lists">
                {%- for plugin in plugins -%}
                <a href="{{ plugin.url }}" class="list">
                    <div class="name">{{ plugin.title }}</div>
                    <div class="description">{{ plugin.description }}</div>
                </a>
                {%- endfor -%}
            </div>
        </section>
        <section id="bluesky" class="grid all-s12 all-m6">
            <div class="details">
                <img height="32" width="32" src="https://cdn.simpleicons.org/bluesky/white" alt="bluesky">
                <h2>
                    <a href="#bluesky" aria-label="bluesky">Bluesky posts</a>
                </h2>
                <p>My short posts describe my thinks every day.</p>
            </div>
            <bluesky-profile-feed actor="did:plc:pibkszlhfix34y257kqcozix" include-pins>
                <a target="_blank" href="https://bsky.app/profile/did:plc:pibkszlhfix34y257kqcozix"
                    class="bluesky-profile-feed-fallback">
                    Posts by LIGMATV (@ligmatv.is-a.dev)
                </a>
            </bluesky-profile-feed>
        </section>
        <section id="contact" class="grid all-s12 all-m6">
            <div class="details">
                <h2>
                    <a href="#contact" aria-label="Contact me">Contact me</a>
                </h2>
                <p>Have any questions or want to get in touch? Easily send your messages via Email or Bluesky DM.</p>
            </div>
            <div class="scroll contact">
                {%- for via in contact -%}
                <a href="{{ via.url }}" class="via" aria-label="{{ via.slug }}">
                    <img height="64" width="64" src="https://cdn.simpleicons.org/{{ via.slug }}/white"
                        alt="{{ via.slug }}">
                    <div class="name">{{ via.slug }}</div>
                </a>
                {%- endfor -%}
            </div>
        </section>
        <section id="posts" class="grid all-s12 all-m6">
            <div class="details">
                <h2>
                    <a href="#posts" aria-label="posts">Posts</a>
                </h2>
                <p>Archives for my some posts, too bored to write more again. Most of them in <a href="http://2.is-a.dev/dev.to">DEV.to</a>.</p>
            </div>
            <div class="scroll lists">
                {%- for post in collections.post -%}
                <a href="{{ post.url }}" class="list" aria-label="{{ post.data.title }}" style="background-image: url('{{ post.data.cover }}');">
                    <div>
                        <div class="name">{{ post.data.title }}</div>
                        <div class="description">{{ post.data.description }}</div>
                        <div class="date">{{ post.data.released }}</div>
                    </div>
                </a>
                {%- endfor -%}
            </div>
        </section>
        <section id="my-links" class="my-links">
            <a href="/links.html" aria-label="Open my links"> <img
                    src="https://api.iconify.design/mdi/open-in-new.svg?color=white" alt="Open my links" width="64" height="64"> My
                links</a>
        </section>
    </main>
    <footer>
        Built with <a href="https://www.11ty.dev/" aria-label="11ty">11ty</a>. Designed by me, Inspired from <a
            href="https://tobiasahlin.com/" aria-label="Tobias Ahlin">Tobias Ahlin's website</a> and <a
            href="https://en.wikipedia.org/wiki/Metro_(design_language)" aria-label="Metro Wikipedia page">Metro
            Design</a>. <br>
        © 2025 {{ title }} - All Rights Reserved.
    </footer>
</body>

</html>