---
layout: index.njk
permalink: /index.html
title: LIGMATV
description: "I'm LIGMATV, thanks for your presence. I'm a frontend developer from Indonesia, especially North Sumatra province. Has experiencing in HTML, CSS, and a bit JS since 2023."
contact:
    -   slug: Bluesky
        url: https://bsky.app/messages/3leiyaqisx725
    -   slug: Gmail
        url: mailto:ligmatv.id@gmail.com
social:
    -   slug: github
        url: https://github.com/LIGMATV
    -   slug: bluesky
        url: https://bsky.app/profile/ligmatv.is-a.dev
    -   slug: codepen
        url: https://codepen.io/LIGMATV
    -   slug: devdotto
        url: https://dev.to/ligmatv
    -   slug: wakatime
        url: https://wakatime.com/@85b9d580-b10f-4b9e-a6bf-071472cd4dba
projects:
    -   title: 11ty Beer
        url: https://github.com/LIGMATV/11ty-beer
        description: An 11ty blog template with Material Design, PWA and minified files that simply works.
    -   title: boredown
        url: https://github.com/LIGMATV/boredown
        description: Portable static site generator with frontmatter & math feature, without HTML & JS knowledge.
    -   title: GMX.css
        url: https://github.com/LIGMATV/gmx.css
        description: GMX.css implements the Material 3 design system in Vanilla CSS/JS, from the components to the animations to the theming.
plugins:
    -   title: Docsify Theme GitHub
        url: https://github.com/LIGMATV/docsify-theme-github
        description: The minimal amount of CSS to replicate the GitHub Markdown style
    -   title: Docsify Dark Switcher
        url: https://github.com/LIGMATV/docsify-dark-switcher
        description: Easily switch toggle to light and dark theme for your Docsify, customizable and works in any CSS themes.
    -   title: Docsify Navbar Fixed
        url: https://github.com/LIGMATV/docsify-navbar-fixed
        description: A new always on top customizable and pretty navigation bar for your docs.
    -   title: Docsify Vite Coverpage
        url: https://github.com/LIGMATV/docsify-vite-coverpage
        description: A new responsive vite-like coverpage for your docs.
    -   title: Docsify Theme 98
        url: https://github.com/LIGMATV/docsify-theme-98
        description: Bring back the old Windows Classic theme in Docsify.
    -   title: Docsify Theme XP
        url: https://github.com/LIGMATV/docsify-theme-xp
        description: Bring back the old Luna XP theme in Docsify.
    -   title: Docsify Theme Vista
        url: https://github.com/LIGMATV/docsify-theme-vista
        description: Bring back the old Aero theme in Docsify.
---