---
layout: layouts/default.njk
title: "Hello! It's me, LIGMATV."
description: "Here, you can find some posts i write and another cool stuff i created."
---

<section class="accent-gradient padding-lg round-lg">
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
</section>

<a href="https://ligmatv.is-a.dev/gmx.css/">
    <section class="gmxcss">
        <h1>Introducing GMX.css</h1>
        <p>GMX.css implements the Material 3 design system in Vanilla CSS/JS, from the components to the animations to the theming.</p>
        <img alt="Post's cover image." class="round-lg" height="545" src="/img/gmx-css-themes.webp" width="1298">
    </section>
</a>

<br>